body {
    color: #000000;
    background-color: #cccccc;
}


#Output {
    padding: 16px;
    margin-top: 16px;
    border:1px solid #000000;
    max-width: 1200px;
    max-height: calc(100% - 120px);
    display: inline-block;
    overflow-y: scroll;
}

#Credits {
    color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    background-color: #cccccc;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #000;
}

.section {
    padding: 16px;
    margin-top: 16px;
    border:1px solid #000000;
    max-width: 1200px;
    max-height: calc(100% - 120px);
    display: inline-block;
}

/* light and dark variants of colors */
.equip_dun_grammar_text_light {
    color: #750E21
}
.equip_dun_grammar_text_dark {
    color: #FF9B9B
}
.dun_boss_grammar_text_light {
    color: #3081D0
}
.dun_boss_grammar_text_dark {
    color: #96EFFF
}
.key_town_grammar_text_light {
    color: #508D69
}
.key_town_grammar_text_dark {
    color: #9ADE7B
}

