body {
    color: #000000;
    background-color: #cccccc;
}


#Output {
    padding: 16px;
    margin-top: 16px;
    border:1px solid #000000;
    max-width: 1200px;
    max-height: calc(100% - 120px);
    display: inline-block;
    overflow-y: scroll;
}

#Credits {
    color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    background-color: #cccccc;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #000;
}